
* {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    margin: 140px 30px 30px 30px;
    padding: 70px 0 70px 0;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    background: white;
    border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    padding: 0px 15px 0 15px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.form-message-red {
    color:red;
}
.form-message-green {
    color:green;
}

.title {
    font-weight: 700;
}

.title h1 {
    margin: 30px 0 25px 0;
    font-size: 3.3rem;
}

.form-login {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-box {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 70px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-input label {
    font-size: 1.2rem;
}

.form-input input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button input {
    width: 500px;
    height: 37px;
    background: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    border: 1px black solid;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

@media (max-width: 600px) {

    main {
        position: relative;
        margin: 140px 15px 30px 15px;
        box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-button input {
        width: 200px;
        height: 37px;
    }

}