


/* Boîte Popup */
/* Le Modal (l'arrière-plan) */
.modal {
  display: none; /* Masqué par défaut */
  position: fixed; /* Rester dans la place */
  z-index: 8888; /* S'asseoir en haut */
  left: 0;
  top: 0;
  width: 100%; /* Largeur complète */
  height: 100%; /* Hauteur complète */
  overflow: auto; /* Activer défilement si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de plan */
  background-color: rgba(0,0,0,0.4); /*  w/ opacité noir*/
  }
  /* Contenu Modal/Boîte*/
.modal-wrapper {
  background-color: #fefefe;
  margin: 10vh auto; /* 15% d'en haut et centré */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Pouvait être plus ou moins, dépend de la taille de l'écran  */
  height: 73vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
  
.modal-content {
    text-align: left;
}
  
h2, p {
  margin: 0 0 20px;
  font-weight: 400;
}

h2 {
  text-decoration: underline;
}

table{
  border-collapse: collapse;
  width: 100%;
 
}

.contentTable {
  margin-bottom: 50px;
}

td, th{
  border: 1px solid black;
  padding: 10px;
}

th {
  background: #D8D8D8;
  color: black;
}

  /* Le bouton Fermer */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  .close:hover,
  .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .modal-wrapper {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% d'en haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Pouvait être plus ou moins, dépend de la taille de l'écran */
  }
}

@media (max-width: 1100px) {

  .table-responsive table, 
  .table-responsive thead, 
  .table-responsive tbody, 
  .table-responsive tr, 
  .table-responsive th, 
  .table-responsive td {
      display: block;
  }

  .table-responsive thead {
      display: none;
  }
  
  .table-responsive td {
      padding-left: 150px;
      text-align: center;
      position: relative;
      margin-top: -1px;
      background: #FFF;
  }

  .table-responsive .specialites {
    padding-left: 10px;
  }

  .table-responsive .description,
  .table-responsive .specialite {
    padding-left: 0px;
  }

  .table-responsive .description::before ,
  .table-responsive .specialite::before{
    background: none;
  }

  .table-responsive td:nth-child(odd) {
      background-color: #eee;
  }

  .table-responsive td::before {
      padding: 10px;
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      bottom: 0;
      background-color: #D8D8D8;
      color: black;
      display: flex;
      align-items: center;
      font-weight: bold;
  }

  .table-responsive tr {
      margin-bottom: 1rem;
  }

  .table-responsive th + td {
      padding-left: 10px;
  }

}